@model DiamondFitnessGym.Controllers.MailModel
@{
    ViewBag.Title = "ArContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="colorlib-loader"></div>
    @Html.Partial("~/Views/Home/_TopPage.cshtml")

    <div class="colorlib-request">
        <div id="Schedule"></div>
        @*<div>
                <h1 id="eshtarek">احجزي مكانك</h1>
            </div>*@
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-8 animate-box">
                    <div class="request">
                        <h2>اشتركي الآن</h2>
                        <p>
                            أشتركي الآن لتحجزي مكانك و ستحصلي على خصم خاص بمناسبة الإفتتاح ، حيث يتوفر لدينا أفضل التمارين الرياضية والألعاب الترفيهية
                            الممتعة والمفيدة تقدم على أعلى مستوى من الحرفية ، فنحن نعمل من أجل سعادتك أثناء تحقيق هدفك
                        </p>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div id="contactform" class="col-md-6 col-md-pull-3" >
                    <form action="/ar/Book" method="post" class="colorlib-form">
                        <div>
                            <h1 id="eshtarek">احجزي مكانك</h1>
                        </div>
                        <div class="row">

                            @if (ViewBag.Get == false)
                            {
                                if (ViewBag.Added)
                                {
                                    <div class="alert alert-success">تم الارسال</div>
                                }
                                else
                                {
                                    <div class="alert alert-danger">حاول مجددا</div>
                                }
                            }

                            @Html.ValidationSummary(null, new { @class = "text-danger" })
                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="no">أسم العائلة</label>
                                    <div class="form-field">
                                        @*@Html.EditorFor(m => m.secondName, new { @class = "form-control" })*@
                                        <input required type="text" name="secondName" class="form-control" oninvalid="this.setCustomValidity('ادخل اسم العائلة ')" oninput="this.setCustomValidity('')" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="name">الأسم</label>
                                    <div class="form-field ">
                                        @*@Html.EditorFor(m => m.FirstName, new { @class = "form-control" })*@
                                        <input required type="text" name="FirstName" class="form-control" oninvalid="this.setCustomValidity('ادخل الاسم ')" oninput="this.setCustomValidity('')" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="no"> رقم الهوية الوطنية \ الاقامة</label>
                                    <div class="form-field">
                                        @Html.EditorFor(m => m.NationalId, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="no">الجوال</label>
                                    <div class="form-field">
                                        @*@Html.EditorFor(m => m.Phone, new { @class = "form-control" })*@
                                        <input required type="text" name="Phone" class="form-control" oninvalid="this.setCustomValidity('ادخل الموبايل')" oninput="this.setCustomValidity('')" />

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="no">المدينة</label>
                                    <div class="form-field">
                                        @Html.EditorFor(m => m.City, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="no">الحي</label>
                                    <div class="form-field">
                                        @Html.EditorFor(m => m.State, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="no">العمر</label>
                                    <div class="form-field">
                                        @*@Html.EditorFor(m => m.Age, new { @class = "form-control" })*@
                                        <input required oninvalid="this.setCustomValidity('ادخل العمر')" oninput="this.setCustomValidity('')" type="text" class="form-control" name="Age" />

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="services">نوع الإشتراك</label>
                                    <div class="form-field">
                                        <i class="icon icon-arrow-down3"></i>
                                        <select name="Period" required oninvalid="this.setCustomValidity('اختر نوع الاشتراك')" oninput="this.setCustomValidity('')" id="services" class="form-control">
                                            <option selected disabled value="">أختر نوع الاشتراك</option>
                                            <option value="دايموند بلس (اشتراك الدايموند + الاكواايروبكس) 3 أشهر">دايموند بلس (اشتراك الدايموند + الاكواايروبكس) 3 أشهر</option>
                                            <option value="دايموند بلس (اشتراك الدايموند + الاكواايروبكس) 6 أشهر">دايموند بلس (اشتراك الدايموند + الاكواايروبكس) 6 أشهر</option>
                                            <option value="دايموند بلس (اشتراك الدايموند + الاكواايروبكس) سنة">دايموند بلس (اشتراك الدايموند + الاكواايروبكس)  سنة</option>
                                            <option value="دايموند بلس (الباقة الاساسية) 3 أشهر">دايموند(الباقة الاساسية) 3 أشهر</option>
                                            <option value="دايموند بلس (الباقة الاساسية) 6 أشهر">دايموند(الباقة الاساسية) 6 أشهر</option>
                                            <option value="دايموند بلس (الباقة الاساسية) سنة">دايموند(الباقة الاساسية)  سنة</option>
                                            <option value="تعليم سباحة">تعليم سباحة</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="no">البريد الالكتروني</label>
                                    <div class="form-field">
                                        <input required oninvalid="this.setCustomValidity('ادخل الايميل')" oninput="this.setCustomValidity('')" type="email" class="form-control" name="Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="form-group">
                                    <label for="extra-services">الخدمات الاضافية</label>
                                    <div class="form-field">
                                        <i class="icon icon-arrow-down3"></i>
                                        <select name="extraServices" id="extra-services" class="form-control">
                                            <option selected disabled value="">أختر خدمة اضافية</option>
                                            <option value="أخصائية تغذية">أخصائية تغذية(جلسة مجانية لكل مشتركة)</option>
                                            <option value="خدمة التوصيل">خدمة التوصيل</option>
                                            <option value="منطقة أطفال">منطقة أطفال</option>
                                        </select>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div style="text-align:center">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-secondary btn-lg color-white" style="background-color: #8cc53e; font-size: 25px; line-height:0.3333; ">احجزي الآن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="contact"></div>

    @Html.Partial("~/Views/Home/_FooterLinks.cshtml")


   


</body>
