@model DiamondFitnessGym.Controllers.MailModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div hidden></div>
    <div class="colorlib-loader"></div>

    @Html.Partial("~/Views/Home/_TopPage.cshtml")

    <div id="colorlib-subscribe">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box ">
                    <h2 class="color-green">احجزي مكانك</h2>
                    <p>
                        أشتركي الآن لتحجزي مكانك و ستحصلي على خصم خاص بمناسبة الإفتتاح ، حيث يتوفر لدينا أفضل التمارين الرياضية والألعاب الترفيهية
                        الممتعة والمفيدة تقدم على أعلى مستوى من الحرفية ، فنحن نعمل من أجل سعادتك أثناء تحقيق هدفك
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="card-body">
                        <a href="/ar/Book" class="btn btn-secondary btn-lg" style="background-color: #8cc53e; font-size: 25px; line-height:0.3333; ">احجزي الآن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2 style="margin-top: 40px;"> اكتشف مكانك</h2>

                <p>
                    سنسعى جاهدين أن نقدم لكم ما يليق بكم و يليق بما نهدف اليه من التطورالرياضي في المملكة العربية السعودية بل و الشرق الأوسط
                    بأكملة
                </p>

                @*<div>
                        <video controls preload="auto">
                            <source class="services-img" src="/Content/images/videogym.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>

                        </video>
                    </div>*@
                <div>
                    <video controls preload="auto" style="width:100%;height:auto;">
                        <source class="services-img" src="/Content/images/videogym.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>

                    </video>
                </div>


            </div>

        </div>
        <div class="row animate-box" style="direction:inherit;padding:50px;background-color:#fff;">
            <div class="owl-carousel">
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">

                            <div class="trainer-img" style="background-image: url(/Content/images/1.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/2.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/3.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/4.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/5.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/6.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/7.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/8.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/9.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/10.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                @*<div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/11.jpg)"></div>
                            </div>
                        </div>
                    </div>*@
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/12.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/13.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/14.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/15.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/16.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/18.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/19.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/20.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/21.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/22.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/23.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/24.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/25.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/27.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/28.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/29.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/30.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/31.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/32.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/33.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/34.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/35.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/36.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/38.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/39.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/40.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/41.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/42.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/43.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/44.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/45.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/46.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/47.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-12 text-center">
                        <div class="trainers-entry">
                            <div class="trainer-img" style="background-image: url(/Content/images/48.jpg);border:3px solid #ea6f99;"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div id="colorlib-services" class="colorlib-degree-bg-full">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <div id="exercise"></div>
                    <h2>
                        نعاملك كمشتـــرك ليس كرقـــم
                    </h2>
                    <p>
                        الفرق بين المعتاد، وفوق المعتاد هو الإضافة الصغيرة التي نقدمها

                        <br>أستمتعي معنا باللياقة ، لأناقة أفضل بطريقة أسهل</br>

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 text-center animate-box">
                            <div class="services">
                                <span class="icon">
                                    <i class="flaticon-gym"></i>
                                </span>
                                <div class="desc">
                                    <h3>
                                        الكارديو
                                    </h3>
                                    <p class="p2">
                                        تعد تمارين الكارديو من أهم التمارين الرياضيّة التي تُمارس بشكل كبير وعلى نطاق واسع، وهي تتطلب مجهوداً عالياً ورشاقة،
                                        فهي ترفع معدل نبضات القلب لمدة طويلة نوعاً ما، لذلك تعتبر من أفضل التمارين لجسم الإنسان.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center animate-box">
                            <div class="services">
                                <span class="icon">
                                    <img src="/Content/images/zumba.png" alt="zumba">
                                </span>
                                <div class="desc">
                                    <h3>
                                        صفوف التمرين الجماعي
                                    </h3>
                                    <p class="p2">
                                        ستمنحك صفوفنا المتنوعة الالهام لاكتشاف انماط تدريب جديدة مع الحفاظ على الدافع مع الاعضاء الذين يشاركونوك نفس طريقة
                                        التفكير ، لدينا خيارات وفيرة من الصفوف . تستطيعين ان تختارى المواعيد اللي تناسبك عند الحجز أو قريبا على موقعنا .

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center animate-box">
                            <div class="services">
                                <span class="icon">
                                    <img src="/Content/images/yoga.png" alt="stretching-exercises">
                                </span>
                                <div class="desc">
                                    <h3>
                                        6D الأبعاد الستة للياقة البدنية
                                    </h3>
                                    <p class="p2">
                                        صُممت هذه المجموعة لتناسب جميع الأشخاص تستهدف العمل على تطوير البدن ككل، والقوة الوظيفية أيضًا ، يُمكنك تحقيق أقصى
                                        نتيجة يمكن الوصول إليها، والوصول إلى كامل لياقتك وتحقيق فوائد عظيمة من التمرين باتباع هذه المجموعة من التمارين
                                        السداسية المدمجة في برنامج واحد على يد مدربات متخصصات
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center animate-box">
                            <div class="services">
                                <span class="icon">
                                    <i class="flaticon-swimmer"></i>
                                </span>
                                <div class="desc">
                                    <h3>
                                        سباحة
                                    </h3>
                                    <p class="p2">
                                        مسبح متكامل يحوي دروس تعليم السباحه مثل (اكوا ايروبكس - اكوا زومبا ) خيار ذو تأثير منخفض للمفاصل وحركات الزومبا
                                        الكلاسيكية اثناء الاحاطة بالماء لتكون بمثابة مقاومة.إن الماء اكثف 800 مرة من الهواء- لذلك ستعمل بجد أكبر؛ كما يناسب
                                        السيدات الحوامل اللواتي يرغبن في الحفاظ على لياقتهن.


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/classes-1.jpg);"></div>
                        </div>
                        <div class="col-md-6 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/juan-pablo.jpg);"></div>
                        </div>
                        <div class="col-md-6 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/intro-img-1.jpg);"></div>
                        </div>
                        <div class="col-md-6 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/Three_3_Hands_Yoga.jpg);"></div>
                        </div>

                        <div class="col-md-6 animate-box">
                            <div class="services-img" style="background-image: url(/Content/images/swimmer-0.jpg);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div id="fun"></div>
    <div id="colorlib-schedule" style="background-color:  #ffffff;">
        <div class="container">
            <div class="colorlib-classes">
                <div class="container">
                    <div class="row">
                        <div id="ahhh" class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                            <h2>الخــدمــات </h2>
                            <p>
                                يتوفر لدينا العديد من الخدمات الترفيهية الممتعة والمفيدة لتكمل ما ينقصك أو ما يعوقك في الاشتراك وتحقيق هدفك ، فقط
                                كل ما عليكي أن تستمتعي بلياقتك لتشعرين بالراحة النفسية التي تعد من ضمن أهدافنا في تحقيق ذاتك ، فحينما تحقق اهدافك
                                بمتعة أكثر حينئذ تصبح
                                <h3>لياقتك حياتك</h3>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/maxresdefault.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        صالتان لياقة للمتقدمات &amp; للمبتدئات
                                    </h3>
                                    <p> وتشمل على سبيل المثال وليس الحصر كلاسات زومبا - ايروبكس - تونيينق - سترتشينق - بوكسينق - ستيب - كور - بيلاتوس</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/spa.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        SPA / سبا
                                    </h3>
                                    <p>غرف ( بخار - ساونا - جاكوزي بنوعيه الحار والبارد) تحت يد مدربات على مستوى عالي وخبره كافيه</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/01.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        مسبح متكامل
                                    </h3>
                                    <p>
                                        صُمم برنامجنا بحيث يلائم كافة الأعمار والقدرات، ويشمل تعليم السباحة، تطوير مهارات السباحة والمنافسة ، بالاضافه الى
                                        اكواايروبكس
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-1 text-center animate-box">

                        </div>

                        <div class="col-md-3 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/width.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        قياس الوزن
                                    </h3>
                                    <p> اجهزه قياس الوزن وحساب الكتله ونسبة الدهون و تقدم نصائح بخصوص التغذيه تحت اشراف طاقم مختص </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/1280px-Great_mosque_in_Medan.JPG);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        مصلى
                                    </h3>
                                    <p> </p>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-3 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/RestingStock.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        كمال أجسام
                                    </h3>
                                    <p>
                                        وهو فقط لشد الجسم وجعله أكثر مرونة و قوة حيث تتوفر احدث الاجهزه الرياضيه بكافة الانواع والاحجام واجهزة الحديد ذات
                                        الجوده العاليه
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col-md-2 text-center animate-box">

                        </div>

                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/cafee.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        كوفي شوب
                                    </h3>
                                    <p>
                                        مقهى على مستوى عالي في جو من الهدوء والخصوصيه
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4 text-center animate-box">
                            <div class="classes">
                                <div class="classes-img" style="background-image: url(/Content/images/ac64c7902435f5378a1eabebf87ed52b.jpg);">
                                </div>
                                <div class="desc">
                                    <h3>
                                        استضافة اطفال
                                    </h3>
                                    <p>منطقه العاب اطفال مستقله تحت اشراف طاقم مؤهل لرعايتهم وخدمتهم أثناء وجودك بالجيم</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 text-center animate-box">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div id="trainer"></div>*@
    <div class="colorlib-trainers">
        <div class="container">
            <div class="row">
                <div id="trainer" class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>المدربات</h2>
                    <p>مدربات من جنسيات مختلفة بخبرات تمتد الى 15 سنة ، يعيشون معك لحظة بلحظة دون الاحتياج الى مدرب خاص</p>
                </div>
            </div>
            <div class="row animate-box " style="direction:inherit;">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-5.jpg)"></div>
                                <div class="desc">
                                    <h3>أخصائية التغذية د/لميس</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-2.jpg)"></div>
                                <div class="desc">
                                    <h3>المدربة آيه عيد</h3>
                                    @*<span>Yoga Trainer</span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-3.jpg)"></div>
                                <div class="desc">
                                    <h3>المدربة ضحى</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-6.jpg)"></div>
                                <div class="desc">
                                    <h3>المدربة هاجر</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-7.jpg)"></div>
                                <div class="desc">
                                    <h3>المدربة شيماء قابليل</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-8.jpg)"></div>
                                <div class="desc">
                                    <h3>المدربة مروه</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-9.jpg)"></div>
                                <div class="desc">
                                    <h3>المدربة آلاء شاكر</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12 text-center">
                            <div class="trainers-entry">
                                <div class="trainer-img" style="background-image: url(/Content/images/trainer-10.jpg)"></div>
                                <div class="desc">
                                    <h3>المدربة آيه سيد</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="trainer"></div>
    <div class="colorlib-trainers">

    </div>

    <div id="colorlib-subscribe">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box ">
                    <h2 class="color-green">احجزي مكانك</h2>
                    <p>
                        أشتركي الآن لتحجزي مكانك و ستحصلي على خصم خاص بمناسبة الإفتتاح ، حيث يتوفر لدينا أفضل التمارين الرياضية والألعاب الترفيهية
                        الممتعة والمفيدة تقدم على أعلى مستوى من الحرفية ، فنحن نعمل من أجل سعادتك أثناء تحقيق هدفك
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="card-body">
                        <a href="/ar/Book" class="btn btn-secondary btn-lg" style="background-color: #8cc53e; font-size: 25px; line-height:0.3333; ">احجزي الآن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*-----------ayash------------*@
    <div class="ahmed-test" hidden>
        <div class="colorlib-request">
            <div id="Schedule"></div>
            @*<div>
                    <h1 id="eshtarek">احجزي مكانك</h1>
                </div>*@
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-push-8 animate-box">
                        <div class="request">
                            <h2>اشتركي الآن</h2>
                            <p>
                                أشتركي الآن لتحجزي مكانك و ستحصلي على خصم خاص بمناسبة الإفتتاح ، حيث يتوفر لدينا أفضل التمارين الرياضية والألعاب الترفيهية
                                الممتعة والمفيدة تقدم على أعلى مستوى من الحرفية ، فنحن نعمل من أجل سعادتك أثناء تحقيق هدفك
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div id="contactform" class="col-md-6 col-md-pull-3">
                        <form action="/ar/Book" method="post" class="colorlib-form">
                            <div>
                                <h1 id="eshtarek">احجزي مكانك</h1>
                            </div>
                            <div class="row">

                                @if (ViewBag.Get == false)
                                {
                                    if (ViewBag.Added)
                                    {
                                        <div class="alert alert-success">تم الارسال</div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-danger">حاول مجددا</div>
                                    }
                                }

                                @Html.ValidationSummary(null, new { @class = "text-danger" })
                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="no">أسم العائلة</label>
                                        <div class="form-field">
                                            @*@Html.EditorFor(m => m.secondName, new { @class = "form-control" })*@
                                            <input required type="text" name="secondName" class="form-control" oninvalid="this.setCustomValidity('ادخل اسم العائلة ')" oninput="this.setCustomValidity('')" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="name">الأسم</label>
                                        <div class="form-field ">
                                            @*@Html.EditorFor(m => m.FirstName, new { @class = "form-control" })*@
                                            <input required type="text" name="FirstName" class="form-control" oninvalid="this.setCustomValidity('ادخل الاسم ')" oninput="this.setCustomValidity('')" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="no"> رقم الهوية الوطنية \ الاقامة</label>
                                        <div class="form-field">
                                            @Html.EditorFor(m => m.NationalId, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="no">الجوال</label>
                                        <div class="form-field">
                                            @*@Html.EditorFor(m => m.Phone, new { @class = "form-control" })*@
                                            <input required type="text" name="Phone" class="form-control" oninvalid="this.setCustomValidity('ادخل الموبايل')" oninput="this.setCustomValidity('')" />

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="no">المدينة</label>
                                        <div class="form-field">
                                            @Html.EditorFor(m => m.City, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="no">الحي</label>
                                        <div class="form-field">
                                            @Html.EditorFor(m => m.State, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="no">العمر</label>
                                        <div class="form-field">
                                            @*@Html.EditorFor(m => m.Age, new { @class = "form-control" })*@
                                            <input required oninvalid="this.setCustomValidity('ادخل العمر')" oninput="this.setCustomValidity('')" type="text" class="form-control" name="Age" />

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="services">نوع الإشتراك</label>
                                        <div class="form-field">
                                            <i class="icon icon-arrow-down3"></i>
                                            <select name="Period" required oninvalid="this.setCustomValidity('اختر نوع الاشتراك')" oninput="this.setCustomValidity('')" id="services" class="form-control">
                                                <option selected disabled value="">أختر نوع الاشتراك</option>
                                                <option value="دايموند بلس (اشتراك الدايموند + الاكواايروبكس) 3 أشهر">دايموند بلس (اشتراك الدايموند + الاكواايروبكس) 3 أشهر</option>
                                                <option value="دايموند بلس (اشتراك الدايموند + الاكواايروبكس) 6 أشهر">دايموند بلس (اشتراك الدايموند + الاكواايروبكس) 6 أشهر</option>
                                                <option value="دايموند بلس (اشتراك الدايموند + الاكواايروبكس) سنة">دايموند بلس (اشتراك الدايموند + الاكواايروبكس)  سنة</option>
                                                <option value="دايموند بلس (الباقة الاساسية) 3 أشهر">دايموند بلس (الباقة الاساسية) 3 أشهر</option>
                                                <option value="دايموند بلس (الباقة الاساسية) 6 أشهر">دايموند بلس (الباقة الاساسية) 6 أشهر</option>
                                                <option value="دايموند بلس (الباقة الاساسية) سنة">دايموند بلس (الباقة الاساسية)  سنة</option>
                                                <option value="تعليم سباحة">تعليم سباحة</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="no">البريد الالكتروني</label>
                                        <div class="form-field">
                                            <input required oninvalid="this.setCustomValidity('ادخل الايميل')" oninput="this.setCustomValidity('')" type="email" class="form-control" name="Email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animate-box">
                                    <div class="form-group">
                                        <label for="extra-services">الخدمات الاضافية</label>
                                        <div class="form-field">
                                            <i class="icon icon-arrow-down3"></i>
                                            <select name="extraServices" id="extra-services" class="form-control">
                                                <option selected disabled value="">أختر خدمة اضافية</option>
                                                <option value="أخصائية تغذية">أخصائية تغذية(جلسة مجانية لكل مشتركة)</option>
                                                <option value="خدمة التوصيل">خدمة التوصيل</option>
                                                <option value="منطقة أطفال">منطقة أطفال</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div style="text-align:center">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-secondary btn-lg color-white" style="background-color: #8cc53e; font-size: 25px; line-height:0.3333; ">احجزي الآن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact"></div>
    </div>

    @*----------ayash end---------*@



    <div id="contact"></div>

    @Html.Partial("~/Views/Home/_FooterLinks.cshtml")



    @section scripts{
        <script>

            //$(document).ready(function () {
            //    $("#serve-place").on('click', function (e) {
            //        e.preventDefault();
            //        $('.ahmed-test').css({ "background-color": "#000" });
            //    });
            //});


                                //$(document).ready(function () {
                                //    // Add smooth scrolling to all links
                                //    $("#serve-place").on('click', function (event) {

                                //        if (this.hash !== "") {
                                //            // Prevent default anchor click behavior
                                //            event.preventDefault();

                                //            var hash = this.hash;

                                //            $('html, body').animate({
                                //                scrollTop: $(hash).offset().top
                                //            }, 800, function () {

                                //                // Add hash (#) to URL when done scrolling (default click behavior)
                                //                window.location.hash = hash;
                                //            });
                                //        }
                                //    });
                                //});

        </script>
    }
</body>
